<widget
	xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
    id          = "ar.com.ingverger.criptosumas"
	versionCode = "00403"
    version     = "0.4.3" >

	<name>Criptosumas</name>

  <description>
	Criptosumas permite resolver problemas de sumas criptoaritmeticas.
	Criptosumas let solve cryptoarithmetic adding problems.

  </description>

	<author href="http://www.ingverger.com.ar" email="ingverger@gmail.com">
		Guillermo Verger
	</author>

	<preference name="android-targetSdkVersion"  value="28" /> 

	<platform name="android">
		<icon	src="icon.png" />
        <icon   src="res/icon/android/drawable-ldpi-icon.png"               density="ldpi" />
        <icon   src="res/icon/android/drawable-mdpi-icon.png"               density="mdpi" />
        <icon   src="res/icon/android/drawable-hdpi-icon.png"               density="hdpi" />
        <icon   src="res/icon/android/drawable-xhdpi-icon.png"              density="xhdpi" />
        <icon   src="res/icon/android/drawable-xxhdpi-icon.png"             density="xxhdpi" />
        <icon   src="res/icon/android/drawable-xxxhdpi-icon.png"            density="xxxhdpi" />
        <splash src="res/screen/android/drawable-land-ldpi-screen.png"      density="land-ldpi" />
        <splash src="res/screen/android/drawable-land-mdpi-screen.png"      density="land-mdpi" />
        <splash src="res/screen/android/drawable-land-hdpi-screen.png"      density="land-hdpi" />
        <splash src="res/screen/android/drawable-land-xhdpi-screen.png"     density="land-xhdpi" />
        <splash src="res/screen/android/drawable-land-xxhdpi-screen.png"    density="land-xxhdpi" />
        <splash src="res/screen/android/drawable-land-xxxhdpi-screen.png"   density="land-xxxhdpi" />
        <splash src="res/screen/android/drawable-port-ldpi-screen.png"      density="port-ldpi" />
        <splash src="res/screen/android/drawable-port-mdpi-screen.png"      density="port-mdpi" />
        <splash src="res/screen/android/drawable-port-hdpi-screen.png"      density="port-hdpi" />
        <splash src="res/screen/android/drawable-port-xhdpi-screen.png"     density="port-xhdpi" />
        <splash src="res/screen/android/drawable-port-xxhdpi-screen.png"    density="port-xxhdpi" />
        <splash src="res/screen/android/drawable-port-xxxhdpi-screen.png"   density="port-xxxhdpi" />

    </platform>
	<icon   src="logo.png" />

	<content src="index.html" />

</widget>
